In [1]:
import pandas as pd

In [2]:
schools_complete = "Resources/schools_complete.csv"
students_complete = "Resources/students_complete.csv"

schools_df = pd.read_csv(schools_complete)
students_df = pd.read_csv(students_complete)

total_school_df = pd.merge(schools_df, students_df, how="left", on=["school_name", "school_name"])

In [ ]:
# District Summary

In [3]:
total_schools = len(total_school_df["school_name"].unique())
total_schools
total_students = len(total_school_df["Student ID"].unique())
total_students
total_budget = total_school_df["budget"].unique().sum()
total_budget
average_math = total_school_df["math_score"].mean()
average_math
average_reading = total_school_df["reading_score"].mean()
average_reading
passing_math = total_school_df[(total_school_df["math_score"] >= 70)]
passing_math
Pm = len(passing_math)/(total_students) * 100
passing_reading = total_school_df[(total_school_df["reading_score"] >= 70)]
passing_reading
Pr = len(passing_reading)/(total_students) * 100
overall_passing = total_school_df.loc[(total_school_df["math_score"] >=70) & (total_school_df["reading_score"]>=70)]
overall_passing
Op = len(overall_passing)/(total_students) * 100


district_summary_df = pd.DataFrame({"Total Schools": [total_schools], "Total Students": [total_students], "Total Budget": [total_budget], 
                                        "Average Math Score": [average_math], "Average Reading Score": [average_reading], "% Passing Math": [Pm],
                                                "% Passing Reading": [Pr],"% Overall Passing": [Op]})
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

In [ ]:
# School Summary

In [32]:
# school_name = total_school_df.groupby(["school_name", "type"])

school_index = schools_df.set_index("school_name")
school_type = school_index["type"]
school_students = school_index["size"]
school_students
school_budget = school_index["budget"]
psb = school_budget/school_students
psb
# total_school_df = total_school_df.set_index("school_name")
group = total_school_df.groupby(["school_name"])

school_avg_math = group["math_score"].mean()
school_avg_math
school_avg_reading = group["reading_score"].mean()
school_avg_reading
school_passing_math = passing_math.groupby("school_name").size()
school_passing_math
spm = (school_passing_math.divide(school_students)*100)
school_passing_reading = passing_reading.groupby("school_name").size()
school_passing_reading
spr = (school_passing_reading.divide(school_students)* 100)
school_overall_passing = total_school_df.loc[(total_school_df["math_score"]>= 70) & (total_school_df["reading_score"]>=70)]
school_passing = school_overall_passing.groupby("school_name").size()
sop = (school_passing.divide(school_students)*100)
school_summary = pd.concat([school_type, school_budget, psb, school_students, school_avg_math, school_avg_reading, spm, spr, sop],axis=1)
# school_summary_df = pd.DataFrame({"School Type": [school_type], "Total School Budget": [school_budget], "Per Student Budget": [psb], 
#                                         "Average Math Score": [school_avg_math], "Average Reading Score": [school_avg_reading], "% Passing Math": [spm],
#                                                 "% Passing Reading": [spr],"% Overall Passing": [sop]})
# school_summary_df
school_summary.columns = ["School Type", "Total School Budget", "Per Student Budget", "School Students", 
                                        "Average Math Score", "Average Reading Score", "% Passing Math",
                                                "% Passing Reading","% Overall Passing"]
school_summary

<class 'pandas.core.series.Series'>

,School Type,Total School Budget,Per Student Budget,School Students,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Huang High School,District,1910635,655.0,2917,76.629414,81.182722,65.683922,81.316421,53.513884
Figueroa High School,District,1884411,639.0,2949,76.711767,81.158020,65.988471,80.739234,53.204476
Shelton High School,Charter,1056600,600.0,1761,83.359455,83.725724,93.867121,95.854628,89.892107
Hernandez High School,District,3022020,652.0,4635,77.289752,80.934412,66.752967,80.862999,53.527508
Griffin High School,Charter,917500,625.0,1468,83.351499,83.816757,93.392371,97.138965,90.599455
Wilson High School,Charter,1319574,578.0,2283,83.274201,83.989488,93.867718,96.539641,90.582567
Cabrera High School,Charter,1081356,582.0,1858,83.061895,83.975780,94.133477,97.039828,91.334769
Bailey High School,District,3124928,628.0,4976,77.048432,81.033963,66.680064,81.933280,54.642283
Holden High School,Charter,248087,581.0,427,83.803279,83.814988,92.505855,96.252927,89.227166
Pena High School,Charter,585858,609.0,962,83.839917,84.044699,94.594595,95.945946,90.540541
Wright High School,Charter,1049400,583.0,1800,83.682222,83.955000,93.333333,96.611111,90.333333
Rodriguez High School,District,2547363,637.0,3999,76.842711,80.744686,66.366592,80.220055,52.988247
Johnson High School,District,3094650,650.0,4761,77.072464,80.966394,66.057551,81.222432,53.539172
Ford High School,District,1763916,644.0,2739,77.102592,80.746258,68.309602,79.299014,54.289887
Thomas High School,Charter,1043130,638.0,1635,83.418349,83.848930,93.272171,97.308869,90.948012

In [ ]:
# Top Performing School (by % overall passing )

In [6]:
top_perf_school_df = school_summary_df.sort_values("% Overall Passing", ascending=False)
top_perf_school_df.head(5)

,School Name,School Type,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,<pandas.core.groupby.generic.DataFrameGroupBy ...,school_name Huang High School District ...,school_name Huang High School 1910635 F...,school_name Huang High School 655.0 Fig...,school_name Bailey High School 77.048432...,school_name Bailey High School 81.033963...,school_name Huang High School 0.514227 ...,school_name Huang High School 0.514227 ...,school_name Huang High School 875.1456...

In [ ]:
# Bottom Performing School (by % overall passing)

In [7]:
bot_perf_school_df = school_summary_df.sort_values("% Overall Passing", ascending=True)
bot_perf_school_df.head(5)

,School Name,School Type,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,<pandas.core.groupby.generic.DataFrameGroupBy ...,school_name Huang High School District ...,school_name Huang High School 1910635 F...,school_name Huang High School 655.0 Fig...,school_name Bailey High School 77.048432...,school_name Bailey High School 81.033963...,school_name Huang High School 0.514227 ...,school_name Huang High School 0.514227 ...,school_name Huang High School 875.1456...

In [ ]:
# Math Scores by Grade

In [8]:
nineth = total_school_df.loc[total_school_df["grade"]=="9th"].groupby("school_name")
nineth_math = nineth["math_score"].mean()
nineth_math
tenth = total_school_df.loc[total_school_df["grade"]=="10th"].groupby("school_name")
tenth_math = tenth["math_score"].mean()
tenth_math
eleventh = total_school_df.loc[total_school_df["grade"]=="11th"].groupby("school_name")
eleventh_math = eleventh["math_score"].mean()
eleventh_math
twelfth = total_school_df.loc[total_school_df["grade"]=="12th"].groupby("school_name")
twelfth_math = twelfth["math_score"].mean()
twelfth_math

math_scores = pd.DataFrame({"9th": [nineth_math], "10th": [tenth_math], 
                                "11th": [eleventh_math], "12th": [twelfth_math]})
math_scores

,9th,10th,11th,12th
0,school_name Bailey High School 77.083676...,school_name Bailey High School 76.996772...,school_name Bailey High School 77.515588...,school_name Bailey High School 76.492218...

In [ ]:
# Reading Scores by Grade

In [9]:
ninethr = total_school_df.loc[total_school_df["grade"]=="9th"].groupby("school_name")
nineth_reading = ninethr["reading_score"].mean()
nineth_reading
tenthr = total_school_df.loc[total_school_df["grade"]=="10th"].groupby("school_name")
tenth_reading = tenthr["reading_score"].mean()
tenth_reading
eleventhr = total_school_df.loc[total_school_df["grade"]=="11th"].groupby("school_name")
eleventh_reading = eleventhr["reading_score"].mean()
eleventh_reading
twelfthr = total_school_df.loc[total_school_df["grade"]=="12th"].groupby("school_name")
twelfth_reading = twelfthr["reading_score"].mean()
twelfth_reading

reading_scores = pd.DataFrame({"9th": [nineth_reading], "10th": [tenth_reading], 
                                "11th": [eleventh_reading], "12th": [twelfth_reading]})
reading_scores

,9th,10th,11th,12th
0,school_name Bailey High School 81.303155...,school_name Bailey High School 80.907183...,school_name Bailey High School 80.945643...,school_name Bailey High School 80.912451...