In [1]:
import pandas as pd

In [2]:
schools_complete = "Resources/schools_complete.csv"
students_complete = "Resources/students_complete.csv"

schools_df = pd.read_csv(schools_complete)
students_df = pd.read_csv(students_complete)

total_school_df = pd.merge(schools_df, students_df, how="left", on=["school_name", "school_name"])

In [ ]:
# District Summary

In [3]:
total_schools = len(total_school_df["school_name"].unique())
total_schools
total_students = len(total_school_df["Student ID"].unique())
total_students
total_budget = total_school_df["budget"].unique().sum()
total_budget
average_math = total_school_df["math_score"].mean()
average_math
average_reading = total_school_df["reading_score"].mean()
average_reading
passing_math = total_school_df[(total_school_df["math_score"] >= 70)]
passing_math
Pm = len(passing_math)/(total_students) * 100
passing_reading = total_school_df[(total_school_df["reading_score"] >= 70)]
passing_reading
Pr = len(passing_reading)/(total_students) * 100
overall_passing = total_school_df.loc[(total_school_df["math_score"] >=70) & (total_school_df["reading_score"]>=70)]
overall_passing
Op = len(overall_passing)/(total_students) * 100


district_summary_df = pd.DataFrame({"Total Schools": [total_schools], "Total Students": [total_students], "Total Budget": [total_budget], 
                                        "Average Math Score": [average_math], "Average Reading Score": [average_reading], "% Passing Math": [Pm],
                                                "% Passing Reading": [Pr],"% Overall Passing": [Op]})
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

In [ ]:
# School Summary

In [20]:
# school_name = total_school_df.groupby(["school_name", "type"])

# school_index = schools_df.set_index("school_name")
# school_students = school_index['size']
# school_budget = school_index['budget']
psb = school_budget/school_students
psb
index = total_school_df.set_index("school_name")
group = index.groupby(["school_name"])

school_avg_math = group["math_score"].mean()
school_avg_math
school_avg_reading = group["reading_score"].mean()
school_avg_reading
school_passing_math = passing_math.groupby("school_name")
school_passing_math
spm = len(school_passing_math)/(school_students) * 100
school_passing_reading = passing_reading.groupby("school_name")
school_passing_reading
spr = len(school_passing_reading)/(school_students) * 100
school_overall_passing = total_school_df.loc[(total_school_df["math_score"]>= 70) & (total_school_df["reading_score"]>=70)]
school_overall_passing
sop = len(school_overall_passing)/(school_students) * 100
school_summary_df = pd.DataFrame({"Total School Budget": [school_budget], "Per Student Budget": [psb], 
                                        "Average Math Score": [school_avg_math], "Average Reading Score": [school_avg_reading], "% Passing Math": [spm],
                                                "% Passing Reading": [spr],"% Overall Passing": [sop]})
school_summary_df

,School Name,School Type,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,<pandas.core.groupby.generic.DataFrameGroupBy ...,school_name Huang High School District ...,school_name Huang High School 1910635 F...,school_name Huang High School 655.0 Fig...,school_name Bailey High School 77.048432...,school_name Bailey High School 81.033963...,school_name Huang High School 0.514227 ...,school_name Huang High School 0.514227 ...,school_name Huang High School 875.1456...

In [ ]:
# Top Performing School (by % overall passing )

In [8]:
top_perf_school_df = school_summary_df.sort_values("% Overall Passing", ascending=False)
top_perf_school_df.head(5)

,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,school_name Huang High School 1910635 F...,school_name Huang High School 655.0 Fig...,school_name Bailey High School 77.048432...,school_name Bailey High School 81.033963...,school_name Huang High School 0.514227 ...,school_name Huang High School 0.514227 ...,school_name Huang High School 875.1456...

In [ ]:
# Bottom Performing School (by % overall passing)

In [9]:
bot_perf_school_df = school_summary_df.sort_values("% Overall Passing", ascending=True)
bot_perf_school_df.head(5)

,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,school_name Huang High School 1910635 F...,school_name Huang High School 655.0 Fig...,school_name Bailey High School 77.048432...,school_name Bailey High School 81.033963...,school_name Huang High School 0.514227 ...,school_name Huang High School 0.514227 ...,school_name Huang High School 875.1456...

In [ ]:
# Math Scores by Grade

In [18]:
nineth = total_school_df.loc[total_school_df["grade"]=="9th"].groupby("school_name")
nineth_math = nineth["math_score"].mean()
nineth_math
tenth = total_school_df.loc[total_school_df["grade"]=="10th"].groupby("school_name")
tenth_math = tenth["math_score"].mean()
tenth_math
eleventh = total_school_df.loc[total_school_df["grade"]=="11th"].groupby("school_name")
eleventh_math = eleventh["math_score"].mean()
eleventh_math
twelfth = total_school_df.loc[total_school_df["grade"]=="12th"].groupby("school_name")
twelfth_math = twelfth["math_score"].mean()
twelfth_math

math_scores = pd.DataFrame({"9th": [nineth_math], "10th": [tenth_math], 
                                "11th": [eleventh_math], "12th": [twelfth_math]})
math_scores

,9th,10th,11th,12th
0,school_name Bailey High School 77.083676...,school_name Bailey High School 76.996772...,school_name Bailey High School 77.515588...,school_name Bailey High School 76.492218...

In [ ]:
# Reading Scores by Grade

In [19]:
ninethr = total_school_df.loc[total_school_df["grade"]=="9th"].groupby("school_name")
nineth_reading = ninethr["reading_score"].mean()
nineth_reading
tenthr = total_school_df.loc[total_school_df["grade"]=="10th"].groupby("school_name")
tenth_reading = tenthr["reading_score"].mean()
tenth_reading
eleventhr = total_school_df.loc[total_school_df["grade"]=="11th"].groupby("school_name")
eleventh_reading = eleventhr["reading_score"].mean()
eleventh_reading
twelfthr = total_school_df.loc[total_school_df["grade"]=="12th"].groupby("school_name")
twelfth_reading = twelfthr["reading_score"].mean()
twelfth_reading

reading_scores = pd.DataFrame({"9th": [nineth_reading], "10th": [tenth_reading], 
                                "11th": [eleventh_reading], "12th": [twelfth_reading]})
reading_scores

,9th,10th,11th,12th
0,school_name Bailey High School 81.303155...,school_name Bailey High School 80.907183...,school_name Bailey High School 80.945643...,school_name Bailey High School 80.912451...